

/***
Default colors and fonts and stuff.
***/

$default-font: "HelveticaNeue", sans-serif;
$default-font-light: "HelveticaNeueLight", sans-serif;

$button-color: #666666;
$gray-text-color: #999999;
$light-gray-color: #f3f3f3;
$black-color: #000000;

$desktop-menu-color: #c8ebf1;
$desktop-menuitemactive-color: #e8f2f4;

/* Point where app switches from desktop to smartphone version */
$break-large: 720px;

